:root {
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header {
  background-color: rgb(255, 255, 255);
  height: 6rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  box-shadow: var(--box-shadow);

  h1 {
    font-size: 1rem;
  }
}

main {
  display: grid;
  place-content: center;
  padding: 3rem 3rem 1rem;
  font-size: 1.6rem;

  .ingredient-form {
    display: flex;
    gap: 1.2rem;
    height: 3.8rem;
    padding: 0 2rem;


    input {
      border-radius: .4rem;
      border: 1px solid #D1D5DB;
      padding: .9rem 1.3rem;
      box-shadow: var(--box-shadow);
      flex-grow: 1;
      min-width: 15rem;
      max-width: 40rem;
    }

    button {
      font-family: Inter, sans-serif;
      border-radius: .4rem;
      border: none;
      background-color: #141413;
      color: #FAFAF8;
      width: 15rem;
      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;

      &::before {
        content: "+";
        margin-inline-end: 5px;
      }
    }
  }

  section {
    padding: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.6rem;
    }
  }

  ul.ingredients-list {
    margin-bottom: 4.8rem;
  }

  ul.ingredients-list > li {
    color: #475467;
    line-height: 2.8rem;
  }

  .get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;
    background: #F0EFEB;
    padding: 1rem 2.8rem;
    gap: 1.25rem;
  }

  .get-recipe-container h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
  }

  .get-recipe-container p {
    color: #6B7280;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .get-recipe-container button {
    border: none;
    border-radius: .6rem;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: .9rem 1.7rem;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
  }

}

section > p {
  font-style: italic;
  font-size: medium;
}

.ingredient-list-section {
  h2 {
    font-size: medium;

    font-style: italic;
  }
}

.suggested-recipe-container {
  color: #475467;
  line-height: 2.8rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: .6rem;
}